.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authenticate {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication_form {
    margin-bottom: 1rem;
  }